@model IEnumerable<MedicalExaminations.Models.LogEntry>

@{
    ViewData["Title"] = "Журнал операций";

    var actionTypeConvert = new Dictionary<string, string>()
    {
        { "Create", "Создание" }, 
        { "Update", "Редактирование" }, 
        { "Delete", "Удаление" },
        { "Upload file", "Загрузка файла" }, 
        { "Delete file", "Удаление файла" }
    }; 
}

@section style {
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/registry.css" />
}

<nav>
    <a href="/Mainform/Index"><img src="~/img/home.png" alt="home" width="37" height="41"></a>
    <a href="/Reports/Index">
        <img src="~/img/report.png" alt="report" width="40" height="39">
        <p>Отчёт</p>
    </a>
    <a href="/LogEntries/Index">
        <img src="~/img/journal.png" alt="logs" width="48" height="48">
        <p>Журнал</p>
    </a>
    <div class="registries">
        <button class="dropbtn">Реестры</button>
        <div class="dropdown-content">
            <a asp-action="Index" asp-controller="Organizations" onclick="return hasViewOrganizationsRights()">Организации</a>
            <a asp-action="Index" asp-controller="Contracts" onclick="return hasViewContractsRights()">Муниципальные контракты</a>
            <a asp-action="Index" asp-controller="Reports" onclick="return hasViewContractsRights()">Отчёты</a>
        </div>
    </div>
    <a href="/Authorization/Index"><img src="~/img/exit.png" alt="exit" width="43" height="41"></a>
</nav>
<h1>Реестр животных</h1>
<div class="content">
    <div class="table">
        <table id="myTable" class="table table-not-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th hidden>Id</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Тип действия</th>
                    <th>Дата и время</th>
                    <th>Идентификационный номер<br />экземпляра объекта</th>
                    <th>Описание экземпляра объекта<br /> после совершения действия</th>
                    <th>Идентификационный номер<br />загруженного файла</th>
                </tr>
            </thead>
            <tbody> 
                @foreach (var logEntry in Model)
                {
                    <tr>
                        <td hidden>@logEntry.Id</td>
                        <td>@logEntry.User.Surname</td>
                        <td>@logEntry.User.Name</td>
                        <td>@logEntry.User.Patronymic</td>
                        <td>@logEntry.ActionType.Name</td>
                        <td>@logEntry.Timestamp</td>
                        <td>@logEntry.ObjectId</td>
                        <td>@logEntry.FileId == null? "-" : logEntry.FileId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="edit">
        <div class="buttons">
            <form id="Delete" asp-action="Delete" method="post" asp-route-id="">
                <input type="submit" value="Удалить" onclick="return confirmDelete()" />
            </form>
            <a asp-action="Export"><input type="button" value="Экспорт" /></a>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "scrollY": "450px",
                "scrollCollapse": true,
                "paging": true
            });
        });

        $("#myTable tbody tr").dblclick(function () {
            var row = $(this).closest("tr");
            var id = Number(row.find("td").eq(0).html());

            if (Number.isInteger(id) && id != 0)
                window.location.href = `/LogEntries/Edit/${id}`;
        });

        $("#myTable tbody tr").click(function () {
            var row = $(this).closest("tr");
            $(this).addClass('selected').siblings().removeClass('selected');
            var id = row.find("td").eq(0).html();

            var $link = $('#Delete');
            var href = $link.attr('action').split('/');
            href[3] = id;
            $link.attr('action', href.join('/'));
        });

        function confirmDelete() {
            var id = Number($('.selected').find("td").eq(0).html());
            if (hasEditOrganizationsRights()) {
                if (Number.isInteger(id) && id != 0) {
                    if (confirm('Вы уверены, что хотите удалить?'))
                        return true;
                    return false;
                }
                return false;
            }
            return false;
        }
    </script>
}
